<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/lists">My lists</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="lists/new">New list</a>
  </li>
</ul>
